*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu{
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu a{
    padding: 2%;
    color: white;
    text-decoration: none;
}

#banner{
    width: 100%;
}

.card{
    width: 200px;
    height: 350px;
}

.card img{
    width: 100%;
}

.seta{
    width: 3%;
    cursor: pointer;
}

#blocoUm, #blocoDois{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#blocoDois{
    padding-top: 1%;
}

.card figcaption{
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

section{
    padding: 2%;
}

footer{
    background-color: #1E1E1E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

p{
    color: white;
    
}

#redes{
    display: flex;
    align-items: center;
    
}

#redes img{
    width: 70%;
}



